.checkoutProduct {
    display: flex;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.checkoutProduct__image {
    object-fit: contain;
    width: 20vw;
    height: 20vh;
}

.checkoutProduct__info {
    padding-left: 2vw;
}

.checkoutProduct__info > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 1vh;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.checkoutProduct__rating {
    display: flex;
}

.checkoutProduct__title {
    font-size: 1.25rem;
    font-weight: 800;
}
